@model Budgeter.Models.Account

@{
    ViewBag.Title = "Details";
}

    <div>
        <h2>Account</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Balance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReconciledBalance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReconciledBalance)
            </dd>
    
        </dl>
    </div>
    <div class="row">
        <div class="col-md-6">
        @Html.ActionLink("View Transactions", "Index", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class= "btn btn-default"})
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" }) 
        </div>     
    </div>
@Html.ActionLink("Back to Accounts", "Index")